<?xml version="1.0" ?>

<!-- Yellow cube of size 1 inch that can be manipulated -->

<robot name="cube_1_inch_yellow">

  <material name="yellow">
    <color rgba="1. 0.8 0. 1.0"/>
  </material>

  <link name="world"/>

  <link name="link_cube_1_inch_yellow">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0254 0.0254 0.0254"/>
      </geometry>
      <material name="yellow"/>
    </visual>

    <collision>
      <geometry>
        <box size="0.0254 0.0254 0.0254"/>
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <drake:proximity_properties>
        <drake:compliant_hydroelastic/>
        <drake:hydroelastic_modulus value="1e6"/>
        <drake:hunt_crossley_dissipation value="0."/>
        <drake:mu_dynamic value="0.3"/>
      </drake:proximity_properties>
    </collision>

    <inertial>
      <mass value="0.006"/>
      <inertia ixx="0.000000645" ixy="0.0" ixz="0.0" iyy="0.000000645" iyz="0.0" izz="0.000000645"/>
    </inertial>

  </link>

</robot>
